//全局变量样式
// 左侧菜单宽度
$base-menu-width:300px;
// 左侧菜单最小宽度
$base-menu-width-min:70px;
// 右侧顶部菜单高度设置
$base-tabbar-height:50px;
// ------左侧菜单-------
// 左侧菜单背景颜色
$base-left-menu-color:rgb(0, 0, 0);
// 菜单悬浮选中颜色
$base-suspend-size-color:rgb(175, 52, 52);

$base-left-menu-height:30px;
$base-left-menu-margin:2px;
$base-left-menu-border-radius:4px;
$base-left-menu-font-size:10px;

// 背景颜色
$base-background-color:rgba(255, 255, 255, 0.767);
// logo组件
$base-menu-logo-height:60px;
// logo图片的高度、宽度
$base-logo-width-height:50px;


